@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap");

@mixin font-setup {
  font-family: "Kumbh Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "YOPQ" 300;
}

/* Step -5: 11.25px → 11.80px */
$secondary-text: clamp(0.7rem, calc(0.53rem + 0.55vw), 0.74rem);

/* Step -4: 13.50px → 14.75px */
$primary-text: clamp(0.84rem, calc(0.45rem + 1.25vw), 0.92rem);

/* Step -3: 16.20px → 18.43px */
$sub-title: clamp(1.01rem, calc(0.32rem + 2.23vw), 1.15rem);

/* Step -2: 19.44px → 23.04px */
$title: clamp(1.22rem, calc(0.09rem + 3.6vw), 1.44rem);

/* Step -1: 23.33px → 28.80px */
$sub-heading: clamp(1.46rem, calc(-0.25rem + 5.47vw), 1.8rem);

/* Step 0: 28.00px → 36.00px */
$heading: clamp(1.75rem, calc(-0.75rem + 8vw), 2.25rem);

:root {
  --clr-primary400: #8546f0;
  --clr-primary500: #0e172c;

  --clr-gradientUp: #f7accf;
  --clr-gradientDown: #ff1053;

  --clr-bg: #f9f8fc;
  --clr-neutral100: hsl(240, 5%, 91%);
  --clr-neutral300: hsl(240, 6%, 50%);
  --clr-neutral400: hsl(237, 12%, 33%);
}

.border {
  border: 2px solid red;

  > * {
    border: 1px solid green;
  }
}

$bg: linear-gradient(to bottom, var(--clr-gradientUp), var(--clr-gradientDown));
